/*http://stackoverflow.com/questions/23438319/using-import-for-google-fonts-is-not-working-on-internet-explorer*/
/*
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    src: url(css/type/opensanshebrew-regular-webfont.eot);
    src: url(css/type/opensanshebrew-regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(css/type/opensanshebrew-regular-webfont.woff) format('woff'),
    url(css/type/opensanshebrew-regular-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    src: url(font/opensanshebrew-bold-webfont.eot);
    src: url(font/opensanshebrew-bold-webfont.eot?#iefix) format('embedded-opentype'),
    url(font/opensanshebrew-bold-webfont.woff) format('woff'),
    url(font/opensanshebrew-bold-webfont.ttf) format('truetype');
}
*/
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

html,
body {
  height:100%;
  width:100%;
    font-family: 'Open Sans Hebrew';
    font-style:normal;
    font-weight: 400;
    background-image: url("img/bg.jpg");
    position: relative;
    z-index: 1;
}

html {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

#dashboard  {
   z-index:999; 
   background-image: url("img/bg.jpg");
   width:100%;
}

.affix {
  top: 50px;
  width:100%;
}



#myHeader{
  min-height:230px;
}

#scores {
  
  width:100%;
}

#expertise {
  
}

#survey {
 padding-top:50px;
 padding-bottom:50px;
}

#analyze {
}


/*navbar*/
nav {
    background-image: url("img/bg.jpg");
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li.active a {
    border-bottom: 1px solid #777777;
}

/*heaer*/

.header {
    margin-right: -31px;
    margin-left: 0px;
    
}

.header-image {
    background-image: url("img/PISA_TopBG.jpg");
    background-position: right;
    width: 100%;
    height: 187px;
    left: 10px;
    /*width: 90%;
    position: absolute;
    top: 120px;
    */
}

.text-image {
    color: #fff;
    font-size: 36pt;
    margin-top: -64px;
    margin-left: 15px;
}

.underHeaderText {
    margin-left: 15px;
    font-size: 18pt;
}

/*subject items*/
.subjectImage {
    width: 27px;
    height: 27px;
    margin-left: -5px;
    margin-top: 5px;
}

.subjectButtons {
    width: 85px;
    float: left;
    margin-left:20px;
}

small{
  display:inline-block;
}

.btn-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    background-color: #E0E0E0;
    border-color: #777777;
}

.btn-circle.btn-lg:active,
.btn-circle.btn-lg.active {
    background-color: #777777;
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
}

.btn-circle.btn-lg:hover,
.btn-circle.btn-lg.hover {
    background-color: #777777;
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
}

.radio input {
    display: none;
}

.radio-inline input {
    display: none;
}

/*dashboard buttons*/
input[type="checkbox"] {
    display: none;
}

.btnMeasurments {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

.btn.btnMeasurments.active,
.btn.btnMeasurments:hover {
    color: #FFFFFF;
    border-width: 2px;
    border-color: #777777;
}

#generalBtn.active,
#generalBtn:hover {
    background-color: #b276b2;
}

#maleBtn.active,
#maleBtn:hover {
    background-color: #5da5da;
}

#femaleBtn.active,
#femaleBtn:hover {
    background-color: #f17cb0;
}

#lowBtn.general.active,
#lowBtn.general:hover {
    background-color: #bc99c7;
}

#mediumBtn.general.active,
#mediumBtn.general:hover {
    background-color: #b276b2;
}

#highBtn.general.active,
#highBtn.general:hover {
    background-color: #7b3a96;
}

#lowBtn.female.active,
#lowBtn.female:hover {
    background-color: #f6aac9;
}

#mediumBtn.female.active,
#mediumBtn.female:hover {
    background-color: #f17cb0;
}

#highBtn.female.active,
#highBtn.female:hover {
    background-color: #e5126f;
}

#lowBtn.male.active,
#lowBtn.male:hover {
    background-color: #88bde6;
}

#mediumBtn.male.active,
#mediumBtn.male:hover {
    background-color: #5da5da;
}

#highBtn.male.active,
#highBtn.male:hover {
    background-color: #265dab;
}

#lowBtn.male.female, #lowBtn.male.female:hover {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

#mediumBtn.male.female, #mediumBtn.male.female:hover {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

#highBtn.male.female, #highBtn.male.female:hover {
    color: #777777;
    background-color: #E0E0E0;
    border-color: #777777;
    border-width: 1px;
    font-size: 12pt;
    line-height: 0.7;
}

/*TODO if has only general class
#measurmentsDashboard {
   
}
#theWell {
    background-color: white;
    border-width: 1px;
    border-color: #c7c7c7;
    border-radius: 0;
    height: 52px;
    margin-top: 10px;
    margin-left: -15px;
}
*/

/*countries*/
.btn-countries {
    background-color: #E0E0E0;
    border-color: #c7c7c7;
    border-width: 1px;
    border-radius: 0;
    font-size: 16pt;
    color: #777777;
}

.btn-countries:active,
.btn-countries.active {
    background-color: #777777;
    color: #FFFFFF;
}

.btn-countries:hover,
.btn-countries.hover {
    background-color: #777777;
}

.selectize-input {
    border-radius: 0;
    line-height: 1.333333333;
    font-size: 18pt;
    color: #777777;
}

.plotly {
    height: 200px;
    cursor:pointer;
}




#LevelNumberDiv {
    width: 100px;
}

.hovertext {
    direction: ltr !important;
}

.hovertext text {
    font-size: 15px !important;
}

.legendtext {
    font-size: 30px !important;
}

.js-plotly-plot .plotly .modebar {
    z-index: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 0px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

a, a:hover {
  color: #333;
}

#pisaScoresTable{
  margin:15px;
}

#TrumpLogo {
    width: 80px;
    position: absolute;
    right: 200px;
    padding-top: 2px;
}
#IC_logo{
   width: 185px;
    position: absolute;
    right: 10px;
    padding-top: 6px;
}